html {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #8C8654;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

.shop-logo {
    cursor: pointer;
    align-self: center;
}

.shop-name {
    align-self: center;
}

.shop-navbar {
    flex-wrap: wrap;
    text-align: center;
    background-color: #B5AF7A;
    padding: .2rem;
}

li {
    display: inline;
    list-style: none;
    text-align: center;
}
