{% extends "layout.html" %}
{% block content %}
   <div class="about text-white/80">
     <h1 class="text-2xl">Our Story</h1>
     <br />
     <div class="text-center">
      <p class="textbox-grey">Founded in 1945 in the small village of Hope, BC by recently returned war veterans Mom Mom and Pops Mom, we at Mom & Pops Flag Shop have since strived to carry out our mission: <br /> <br /><i>Bring the joy of flags to all in our community: from Hope to the World.</i></p>
      <br />
      <figure style="margin-left: auto; margin-right: auto; width: 50%;">
        <img style="background-color:transparent" src="../static/img/mom_pop.jpg">
        <figcaption>Mom and Pops (2022)</figcaption>
      </figure>
     </div>
     <br />
     <div class="textbox-green text-center">
       <h3 class="text-white/80 text-xxl">A History of Mom & Pops</h3>
       </br>
       <dl class="text-xl">
         <dt>December 1945:</dt>
          <dd>First Flag Shop opens in Hope, BC</dd>
         <br />
         <dt>May 2021:</dt>
          <dd>Our second location opens in Vancouver, BC</dd>
         <br />
         <dt>November 2021:</dt>
          <dd>Our 100th shop has its grand opening in Calgary, AB</dd>
         <br />
         <dt>December 2021:</dt>
          <dd>Acquired Santa's Workshop</dd>
         <br />
         <dt>January 2022:</dt>
          <dd>Acquired:
            <ul>
              <li>- Grandparents' Flag Emporium</li>
              <li>- Flag-polooza: A Family Business</li>
              <li>- Fun with Flags</li>
              <li>- Flags "R" Us</li>
              <li>- Flag West</li>
            </ul>
          </dd>
       </dl>

     </div>
    </div>
 {% endblock %}