{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1 class="text-2xl">Contact Us</h1>
   </div>
   <br />
   <div class="flex">
    <div class="text-white/80 left-half">
      <h3>Mom:</h3>
      <p>Phone Number (Landline): (951) 262-3062</p>
      <p>Phone Number (Cell): (914) 737-9938</p>
      <figure>
        <img style="background-color:transparent" width="200" height="200" src="../static/img/mom.png">
      </figure>
    </div>
    <div class="text-white/80 right-half">
      <h3>Pop:</h3>
      <p>Phone Number (Landline): (951) 262-3062</p>
      <p>Phone Number (Cell): (505) 503-4455</p>
      <figure>
        <img style="background-color:transparent" width="150" height="150" src="../static/img/pop.jpg">
      </figure>
    </div>
    <div class="text-white/80 left-half">
      <h3>[REDACTED]:</h3>
      <p>Phone Number (Landline): XXX-XXX-XXXX</p>
      <p>Phone Number (Cell): XXX-XXX-XXXX</p>
      <figure>
        <img style="background-color:transparent" width="150" height="150" src="../static/img/silhouette.jpg">
      </figure>
    </div>
  </div>
 {% endblock %}