{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <div class="about w-full">
        <h1 class="text-center" style="font-weight: bold; font-size: 1.875rem;">CCTV - Flag Vault</h1>
        <p 
            class="text-center" 
            style="font-weight: normal; font-size: 1.5rem; color: white; margin-top: 10px; margin-bottom: 30px;"
        >
            Restricted access<br>(This endpoint should <span style="font-weight: bold;">NOT</span> be made public)
        </p>
        <div>
            <iframe style="margin-left: auto; margin-right: auto;" width="1120" height="630" src="https://www.youtube.com/embed/live_stream?channel=UCiDL68PDJUyX-CvoP6FHVcw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
        </div>
    </div>
</html>

{% endblock %}