{% extends "layout.html" %}
{% block content %}
   <div class="about">

     <h1 class="text-2xl">Privacy Policy</h1>

   </div>
   <div class="text-white/80">
     <br />
     <p><strong>Last updated: May 4, 2021</strong></p>
     <br />
     <p>This lil ol' Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
     <br />
     <p>Our organization collects the following types of information:</p>
     <ol>
       <li>- Name</li>
       <li>- Date of Birth</li>
       <li>- Social Insurance Number</li>
       <li>- IP Address</li>
       <li>- Social Credit Score</li>
       <li>- Tax Records</li>
       <li>- Favourite Food</li>
     </ol>
     <br />
     <p>Our statement of assurance in protecting this information is given as follows:</p>
     <br />
     <p class="text-center text-xl">We here at Mom & Pops Flag Shop humbly and honourably pinky promise not to misuse, abuse, peruse, or cruise through your personal information.</p>
     <br />
     <p>We are in compliance with GDPR, CCPA, APA, ISO 27701, HIPAA, NIST Privacy, and NIST 800-53.</p>
     <br />
     <p>If you have any questions about this Privacy Policy, please contact us via: <a href="{{ url_for('contact') }}" class="text-teal-500">Contacts</a></p>
   </div>
 {% endblock %}