{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1 class="text-2xl">Products</h1>     

     <div class ="flex flax-wrap justify-center gap-1" style="margin-bottom:20px">
      <a href="/NFT" style="font-size: 30px" class="text-teal-500"><u>New: Non-Fungible Tokens!</u></a>
      <br>
      <hr>
    </div>

     <div class="flex flex-wrap justify-center gap-1">
        
      <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;" >
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/GreenFlag.png">
          </div>
          <div>
           Green Flag
          </div>
          <div>
            A green flag, representing grassy hills.
          </div>
          <div>
            $50.00
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;" >
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/RedFlag.png">
          </div>
          <div>
           Red Flag
          </div>
          <div>
            A red flag, representing half of the colors on Canada's flag.
          </div>
          <div>
            $50.00
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;" >
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/BlueFlag.png">
          </div>
          <div>
           Blue Flag
          </div>
          <div>
            A blue flag, representing the waters of BC.
          </div>
          <div>
            $50.00
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;" >
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/YellowFlag.png">
          </div>
          <div>
           Yellow Flag
          </div>
          <div>
            A yellow flag, representing a golden sunset.
          </div>
          <div>
            $50.00
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;" >
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/OrangeFlag.png">
          </div>
          <div>
           Orange Flag
          </div>
          <div>
            An orange flag, representing Autumn (or Halloween!).
          </div>
          <div>
            $50.00
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100 
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/BFlag.png">
          </div>
          <div>
            Pops' Flag
          </div>
          <div>
            A black flag with Pops' P on it, representing Pops himself.
          </div>
          <div>
            $1948.00
          </div>
        </div>
      <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100 
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/WFlag.png">
          </div>
          <div>
            Mom's Flag
          </div>
          <div>
            A white flag with Mom's M on it, representing Mom herself.
          </div>
          <div>
            $1952.00
          </div>
        </div>
        <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100 
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/DanielWatersFlag.png">
          </div>
          <div>
            Daniel Waters Flag
          </div>
          <div>
            "The house always wins. Play long enough, you never change the stakes. The house takes you. Unless, when that perfect hand comes along, you bet and you bet big, then you take the house." - Daniel Waters to his friend Rusty Reynold when at an auction for a house.
          </div>
          <div>
            $1961.00
          </div>
        </div>
        <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100 
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/BusterFlag.png">
          </div>
          <div>
            Buster Flag
          </div>
          <div>
            "Sorry Daniel, I forgot. " - Buster, after forgetting it was Daniel Waters' birthday
          </div>
          <div>
            $2001.11
          </div>
        </div>
        <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100 
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/AAAFlag.png">
          </div>
          <div>
            Andrew the Above Average Flag
          </div>
          <div>
            "I just want you to feel you’re doing well." - Andrew, a helpful and supportive individual
          </div>
          <div>
            $1946.00
          </div>
        </div>
      <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        " id="innerbox">
          <div style="display: flex;justify-content: center;">
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/BBBFlag.png">
          </div>
          <div>
            Bernie B. Benzene Flag
          </div>
          <div>
            According to all known laws of aviation, there is no way that a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway. Because bees don’t care what humans think is impossible.” - Bernie B. Benzene, 2007
          </div>
          <div>
            $1895.00
          </div>
        </div>
     </div>

   </div>
 {% endblock %}