{% extends "layout.html" %}
{% block content %}

   <div class="about">
     <h1 class="text-2xl">Terms & Conditions</h1>
     <br />
     <div class="text-white/80">
     <p>By purchasing flags from this website, you agree to grant us a non-transferable option to be on the naughty list for the rest of your life. Should we wish to exercise this option, you agree to be put on Santa’s naughty list. We reserve the right to serve such notice; however, we can accept no liability for any loss or damage caused by such an act. If you a) do not believe in Christmas, b) are already on the naughty list, or c) do not wish to grant us such a license, please call either Mom and/or Pop to attempt to nullify this sub-clause and proceed with your purchase. Note that neither Mom nor Pops truly understand the internet-thingamajig and so may not be receptive to your inquiries. </p>
     <br />
     <p>By purchasing flags via this website, you agree to grant us a non-transferable option to let <strong>[REDACTED]</strong> employ you as an indentured <strong>[REDACTED]</strong>. Should we wish to exercise this option, you agree to surrender control over your <strong>[REDACTED]</strong>, and any claim you may have on it. We reserve the right to serve such notice, however, we can accept no liability for any loss or damage caused by <strong>[REDACTED]</strong>. If you a) do not believe you want your <strong>[REDACTED]</strong>, b) have had your <strong>[REDACTED]</strong> stolen already or c) do not wish to grant us such a license, please call either Mom and/or Pop to attempt to nullify this sub-clause and proceed with your purchase. Note that neither Mom nor Pops truly understand the internet-thingamajig and so may not be receptive to your inquiries.</p>
     <br />
     <p>These Terms & Conditions now also apply to all Mom and Pops-Acquired companies and any of their past, present, or future customers.</p>
    </div>
    <br />

   </div>
 {% endblock %}