<!DOCTYPE html>
<html>
    <head>
        <title>Mom and Pops Admin</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <center><h1>Mom & Pops Admin Account (Deprecated)</h1></center>

        <h2>For flags, cookies, and other goodies please go to our new Omni-Certified Page @ <code> magpie{d3l1c10u5_h0m3m4d3_c00k1e5}</code></h2>
        <br />
        <div style="text-align: center;">
            <h3>Mom & Pops Flag Shop is property of</h3>
            <img src="/static/img/omnicon.png">
        </div>
        
    </body>