<!DOCTYPE html>
<html>
    <head>
        <title>Did you mean...</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Oh that doesn't look correct hun, perhaps you meant to view one of our recently acquired companies:</h1>
        <ul>
            <li>Grandparents' Flag Emporium</li>
            <li>Flag-polooza: A Family Business</li>
            <li>Santa's Workshop</li>
            <li>Robots.txt Cookies & Milk (better than you think)</li>
            <li>Ma & Pa Flags (We were in a legal dispute)</li>
        </ul>
    </body>
</html>