<!DOCTYPE html>
<html>
    <head>
        <title>Mom and Pops Login</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div style="text-align: center;">
            <img src="/static/img/mompopsflags_logo.png">
        </div>
        <br />
        <center><h1>Admin Account Login</h1></center>
        <div class="center" style="border-style: solid; border-radius: 0.375rem;">
            <form method="post" style="text-align: center;">
                <div class="container">
                    <label style="color: white;"><strong>Username:</strong></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <br />
                    <br />
                    <label style="color: white;"><strong>Password:</strong></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </body>
</html>